$color-1: #42ebf7;
$color-2: #f265fe;
$color-3: #050750;

.aboutContainer {
    margin: 2em;
    text-align: center;
	height: 80vh;
}

.photoContainer {
    position: relative;
    height: 35vw;
    width: 35vw;
    float: left;
    margin-right: 1.5em;
}

.photoContainer img {
    width: 35vw;
    border-radius: 10px;
}

.carouselContainer {
    display: flex;
    justify-content: center;
	align-items: flex-end;
	background: radial-gradient(closest-side, rgba(44, 221, 212, 0.555), rgba(85, 231, 229, 0.181), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
}

// picture border animation
.photoContainer:before, .photoContainer:after {
	content: '';
	position: absolute;
	left: -4px;
	top: -4px;
	background: linear-gradient(45deg, $color-1, $color-2, $color-3);
	background-size: 200%;
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	z-index: -1;
	animation: gradient 5s ease infinite;
    border-radius: 10px;
}

.photoContainer:after {
    filter: blur(50px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
// end animation

@media all and (max-width:480px) {
	.aboutContainer {
		margin: 0;
		padding-top: 1em;
		width: 90vw;
		text-align: center;
	}
	
	.photoContainer, .photoContainer img {
		width: 45vw;
		height: 45vw;
	}
}