@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Permanent+Marker&display=swap');

.homeContainer{
    height: 81vh;
    z-index: 1;
}

h1, h3 {
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    color: antiquewhite;
}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 2em;
}

.treeContainer {
    position: absolute;
    bottom: 0;
    left: 1em;
}

.treeContainer img {
    width: 95vw;
}

@media all and (max-width:480px) {
    .homeContainer {
        height: 70vh;
    }

    .treeContainer {
        left: 0;
    }

    .treeContainer img {
        width: 100vw;
        height: auto;
    }

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em
    }

    .name, .title {
        display:flex;
        text-align: center;
    }

    .name {
        padding-top: 15vh;
    }
}