@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Permanent+Marker&display=swap");

$color-1: #42ebf7;
$color-2: #f265fe;
$color-3: #050750;
$color-4: #112155;
$color-5: #040526;
$radius: 10px;
$padding: 0.5vw;
$margin: 0.75vw;

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: $margin;
}

.col {
  margin: $margin;
}

.card {
  width: 30vw;
  height: 100%;
  border-style: solid;
  border-color: antiquewhite;
  border-radius: $radius;
//   flex-direction: column;
}

.card-image-container {
  position: relative;
  height: auto;
  width: auto;
}

// card-image border animation
.card-image-container:before,
.card-image-container:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(45deg, $color-1, $color-2, $color-3);
  background-size: 200%;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: gradient 5s ease infinite;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.card-image-container:after {
  filter: blur(50px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
// end animation

img.card-img-top {
  width: 29vw;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  padding-top: $padding;
  padding-left: $padding;
  padding-right: $padding;
}

// .card-body {
    // display: flex;
    // flex-direction: column;
// }

.card-text {
  padding: $padding;
  margin-top: auto;
  border-top-style: solid;
  font-size: 13pt;
  font-family: "Inconsolata", monospace;
  color: antiquewhite;
  text-align: justify;
//   flex: 1 0 auto;
}

.card-footer {
  display: flex;
  justify-content: center;
//   flex-shrink: 0;
  padding: $padding;
}

a.card-link {
  font-size: 13pt;
}

.link-separator {
  font-family: "Permanent Marker", cursive;
  color: antiquewhite;
  font-size: 13pt;
  padding-left: $padding;
  padding-right: $padding;
}
