.resumeBox {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.resumeLink {
    width: 71vw;
}

.resume {
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

@media all and (max-width:480px) {
    .resumeLink {
        width: 95%;
        margin-left: 0;
        margin-right: 0;
    }
}