.homeContainer{
    height: 90vh;
    z-index: 1;
}

h1, h3 {
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

h1 {
    font-size: 6em;
}

h3 {
    font-size: 2.5em;
}

.treeContainer {
    position: absolute;
    bottom: 0;
    left: 1em;
}

.treeContainer img {
    height: 75vh;
}

@media all and (max-width:480px) {
    .homeContainer {
        height: 70vh;
    }

    .treeContainer {
        left: 0;
    }

    .treeContainer img {
        width: 100vw;
        height: auto;
    }

    .name, .title {display:flex;
        text-align: center;}
}