.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: antiquewhite;
    flex-direction: column;
    z-index: 1;
}

h1 {
    font-size: 6em;
}

h3 {
    font-size: 2.5em;
}

.treeContainer {
    position: absolute;
    bottom: 0;
    left: 1em;
}

.treeContainer img {
    max-height: 80vh;
}