.stagger-visualizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 17em;
    height: 17em;
  }
  
  .stagger-visualizer div {
    width: 1rem;
    height: 1rem;
    border: 1px solid #FFF;
    background-color: #FFF;
  }

.animeContainer {
    width: 70vw;
    margin: 50px auto;
}

.animeRow {
    display: flex;
    justify-content: center;
}

.animeBox {
    width: 30px;
    height: 30px;
    background-color: blueviolet;
}