.techImage {
    max-width: 125px;
    max-height: 125px;
    width: auto;
    height: auto;
}

// @media all and (max-width:480px) {
//     .techImage {
//         max-width: 90px;
//         max-height: 90px;
//         width: auto;
//         height: auto;
//     }
// }