$color-1: #42ebf7;
$color-2: #f265fe;
$color-3: #050750;

html {
  min-height: 100vh;
  background: linear-gradient(20deg, $color-1, $color-2, $color-3);
    animation: gradient 25s ease infinite;
    background-size: 250%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.mainContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: antiquewhite;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.128);
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}