* {
  font-family: monospace;
}

.App {
  text-align: center;
}

$color-1: #42ebf7;
$color-2: #f265fe;
$color-3: #050750;

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: linear-gradient(45deg, $color-1, $color-2, $color-3);
    animation: gradient 25s ease infinite;
    background-size: 300%;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 25px;
  right: 25px;
}

.footerContainer img {
  margin-left: 15px;
  margin-right: 15px;
  filter: invert(90%)
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}